### Importacao padrao do pandas

In [1]:
import pandas as pd

#### Leitura do dataframe mesclado final

In [2]:
df = pd.read_csv('/home/gondor/DevEnvironment/Python/AluraCursos/SevenDaysOfCode/ProjetoEmprestimoBiblioteca/Datasets/df_merge.csv')
df.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
1,749227,2006017618,2010/04/19 17:35:25.987000000,2010/04/05 11:25:57.627000000,2010/04/27 11:37:02.530000000,2.011105e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
2,1175444,2006017618,2012/03/11 17:05:30.982000000,2012/02/24 16:18:40.959000000,2012/03/28 14:32:13.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,1209694,2006017618,2012/04/11 12:34:59.458000000,2012/03/28 14:33:04.249000000,2012/04/25 11:48:28.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
4,1374962,2006017618,2012/12/12 07:40:40.406000000,2012/11/14 12:41:25.081000000,2013/01/15 17:10:17.000000000,2.011104e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019

#### Visualizando as informacoes sobre as colunas e tipos de dados

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906412 entries, 0 to 906411
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id_emprestimo         906412 non-null  int64
 1   codigo_barras         906412 non-null  object
 2   data_renovacao        906412 non-null  object
 3   data_emprestimo       906412 non-null  object
 4   data_devolucao        906412 non-null  object
 5   matricula_ou_siape    906412 non-null  float64
 6   tipo_vinculo_usuario  906412 non-null  object
 7   id_exemplar           906412 non-null  int64
 8   colecao               906412 non-null  object
 9   biblioteca            906412 non-null  object
 10  status_material       906412 non-null  object
 11  localizacao           906412 non-null  int64
 12  registro_sistema      906412 non-null  int64
dtypes: float64(1), int64(4), object(8)
memory usage: 89.9+ MB

#### Excluindo a colina 'registro_sistema', pois não é relevante para a análise

In [4]:
df.drop(columns=['registro_sistema'], inplace=True)

In [5]:
df.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao
0,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640
1,749227,2006017618,2010/04/19 17:35:25.987000000,2010/04/05 11:25:57.627000000,2010/04/27 11:37:02.530000000,2.011105e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640
2,1175444,2006017618,2012/03/11 17:05:30.982000000,2012/02/24 16:18:40.959000000,2012/03/28 14:32:13.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640
3,1209694,2006017618,2012/04/11 12:34:59.458000000,2012/03/28 14:33:04.249000000,2012/04/25 11:48:28.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640
4,1374962,2006017618,2012/12/12 07:40:40.406000000,2012/11/14 12:41:25.081000000,2013/01/15 17:10:17.000000000,2.011104e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640

#### Criando nova coluna a partir da coluna 'localizacao', onde a numeracao obedece a seguinte a classificacao:
#### 1. de 0 a 99: 'Generalidades. Ciência e conhecimento'
#### 2. de 100 a 199: 'Filosofia. Psicologia.'
#### 3. de 200 a 299: 'Religião.'
#### 4. de 300 a 399: 'Ciências sociais.'
#### 5. de 400 a 499: 'Classe vaga. Provisoriamente não ocupada.'
#### 6. de 500 a 599: 'Matemática e ciências naturais'.
#### 7. de 600 a 699: 'Ciências aplicadas'
#### 8. de 700 a 799: 'Belas artes'
#### 9. de 800 a 899: 'Linguagem. Língua. Linguística'
#### 10. de 900 a 999: 'Geografia. Biografia. História'

In [11]:
df['CDU'] = df.localizacao.map(lambda x: 'Generalidades. Ciência e conhecimento' if x < 100 else (
    'Filosofia e Psicologia.' if x < 200 else ('Religião' if x < 300 else ('Ciências sociais' if x < 400 else ('Classe vaga. Provisoriamente não ocupada' if 
                            x < 500 else ('Matemática e ciências naturais' if x < 600 else ('Ciências aplicadas' if x < 700 else ( 
                           'Belas artes' if x < 800 else ('Linguagem. Língua. Linguística' if x < 900 else ('Geografia. Biografia. História' 
                                                                                                            if x < 1000 else ('Outros')))))))))))

In [12]:
df.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,CDU
0,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
1,749227,2006017618,2010/04/19 17:35:25.987000000,2010/04/05 11:25:57.627000000,2010/04/27 11:37:02.530000000,2.011105e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
2,1175444,2006017618,2012/03/11 17:05:30.982000000,2012/02/24 16:18:40.959000000,2012/03/28 14:32:13.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
3,1209694,2006017618,2012/04/11 12:34:59.458000000,2012/03/28 14:33:04.249000000,2012/04/25 11:48:28.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
4,1374962,2006017618,2012/12/12 07:40:40.406000000,2012/11/14 12:41:25.081000000,2013/01/15 17:10:17.000000000,2.011104e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas

#### Mudando o tipo de dado da coluna 'matricula_ou_siape' para string

In [13]:
df.matricula_ou_siape = df.matricula_ou_siape.astype('string')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906412 entries, 0 to 906411
Data columns (total 13 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id_emprestimo         906412 non-null  int64
 1   codigo_barras         906412 non-null  object
 2   data_renovacao        906412 non-null  object
 3   data_emprestimo       906412 non-null  object
 4   data_devolucao        906412 non-null  object
 5   matricula_ou_siape    906412 non-null  string
 6   tipo_vinculo_usuario  906412 non-null  object
 7   id_exemplar           906412 non-null  int64
 8   colecao               906412 non-null  object
 9   biblioteca            906412 non-null  object
 10  status_material       906412 non-null  object
 11  localizacao           906412 non-null  int64
 12  CDU                   906412 non-null  object
dtypes: int64(3), object(9), string(1)
memory usage: 89.9+ MB

#### Salvando df final

In [17]:
df.to_csv('/home/gondor/DevEnvironment/Python/AluraCursos/SevenDaysOfCode/ProjetoEmprestimoBiblioteca/Datasets/df_final.csv', index=False)